<div id='contact' class="container-contact">
    <h1 class="title-section">CONTACTEZ-NOUS</h1>
    <p>Une question? Une interrogation? Une envie de rejoindre nos équipes? N'hésitez pas à nous envoyer un message ! </p>
    <div class="box-contacts">
         <div class='sideLeft-contact'>
            <img src="/images/assets/mail.svg" alt="mail" />
        </div>
        <div class='sideRight-contact'>
            <form method="POST" action="/">
                <input type="text" placeholder="Votre nom" name="surname"/>
                <input type="email" placeholder="Votre adresse e-mail" name="email"/>
                <textarea type="text" placeholder="Message..." name="message"></textarea>
                <button type="submit">Valider</button>
            </form>
        </div>
    </div>
</div>