<footer>
    <div class='box-socials'>
        <img src='/images/buttons/facebook.png' alt="instagramSocial"/>
        <img src='/images/buttons/instagram.png' alt="instagramSocial"/>
        <img src='/images/buttons/github.png' alt="instagramSocial"/>
    </div>
    <h6>Copyright © COSMOS - Paris 75008 Cedex // </h6>
</footer>