<header>
    {{> nav}}
    <div class="container-header">
        <div class="side-left">
            <h1 class="title-section titlePage">AGENCY</h1>
            <h2 class="subtitlePage">DIGITALISATION PERSONNALISÉE </h2>
            <p class="descriptionPage">COSMOS apporte des solutions techniques à des défis stratégiques.</p>
            <a href="#contact"><button>Commencer l'aventure !</button></a>
        </div>
        <div class="side-right">
            <img src='/images/assets/laptop.svg' alt="laptop" />
        </div>
    </div>
</header>