<div class="container-services">
    <h1 class="title-section">NOS SERVICES</h1>
    <p>Avec une gamme de services étendue, COSMOS répond à toutes les problématiques techniques que nos clients peuvent rencontrer.</p>
    <br><br>
    <div class='box-services'>
        <div class='box-service'>
            <img src='/images/assets/ux.svg' alt="ux" />
            <p>L'ergonomie d'un site Internet doit le rendre intuitif à comprendre et simple à utiliser. L'UX Design couvre à la fois l'ergonomie, l'étude du comportement, le contenu et la navigation afin d’améliorer l’Expérience Utilisateur.</p>
        </div>
        <div class='box-service'>
            <img src='/images/assets/devweb.svg' alt="ux" />
            <p> Nous développons des solutions et des applications web sur mesure en fonction des besoins de nos partenaires. Un site web applicatif, une application web autonome ou distribuable avec une interface API, ou des solutions e-commerce sur mesure.</p>
        </div>
        <div class='box-service'>
            <img src='/images/assets/seo.svg' alt="ux" />
            <p>La data et l'IA ne sont rien si elles sont mal exploitées. UXIA c'est donc dotée d'une equipe webmarketing (Expert RS, Growth Hacker, Webmarketeur, Influenceurs) pour répondre à tous les besoins de nos partenaires au-delà de la sphere technique.</p>
        </div> 
    </div>
</div>