<div class="container-solutions">
    <h1 class="title-section">NOS SOLUTIONS</h1>
    <p>Rien ne remplacera une idée globale de votre projet. Voici quelques solutions déjà mise en place par nos équipes afin de mieux répondre à vos besoins </p>
    <div class='box-solutions'>
        <div class="sideLeft-solutions">
            <img src="/images/assets/solutionsTech.svg" alt="solutionTech" />
        </div>
        <div class="sideRight-solutions">
            <div class='box-solution'>
                <img src='/images/assets/blog.svg' alt="#" />
                <img src='/images/assets/intranet.svg' alt="#" />
                <img src='/images/assets/ecommerce.svg' alt="#" />
            </div>
            <div class="box-description">
                <h2>CMS</h2>
                <p>Nos équipes sont spécialisée dans les technologies les plus réputées. Parmis ces technologies, WordPress est un système de gestion de contenu gratuit, libre et open-source.</p>
            </div>
        </div>
    </div>
</div>